
.container { 
    background: rgba(255, 153, 51, .5); 
}
body {
    background-color: #cccccc;
}

.text-0 {
    color: #ffffff;
    background-color: #9cc2e5;
}
.text-1 {
    color: #ffffff;
    background-color: #6ea0d2;
}
.text-2 {
    color: #ffffff;
    background-color: #4383c4;
}
.text-3 {
    color: #ffffff;
    background-color: #3178bf;
}
.text-4 {
    color: #ffffff;
    background-color: #fed655;
}
.text-5 {
    color: #ffffff;
    background-color: #feca22;
}
.text-6 {
    color: #ffffff;
    background-color: #fec50d;
}
.text-7 {
    color: #ffffff;
    background-color: #f4b366;
}
.text-8 {
    color: #ffffff;
    background-color: #f19d39;
}
.text-9 {
    color: #ffffff;
    background-color: #f09426;
}
.text-Note {
    color: #ffffff;
    background-color: #9cc2e5;
}
.text-Low {
    color: #ffffff;
    background-color: #3178bf;
}
.text-Medium {
    color: #ffffff;
    background-color: #fec50d;
}
.text-High {
    color: #ffffff;
    background-color: #f09426;
}
.text-Critical {
    color: #ffffff;
    background-color: #d63e34;
}